		html,body {
			width: 100%;
			height: 100%;
			position: absolute;
			margin: 0;
			padding: 0;
			background-color: #356cae;
			font-size: 10px;
			font-family: "微软雅黑","宋体",arial,sans-serif;
		}

		.swiper-container {
			position: relative;
			width: 100%;
			height: 100%;
		}

		.main {
			width: 100%;
			height: 100%;
			/*position: absolute;*/
			/*overflow: hidden;*/
		}
		/*page页面设置*/
		.page {
			/*position: absolute;
			left: 0;
			top: 0;*/
			width: 100%;
			height: 100%;
			background-color: #5294bd;
			color:#ebebeb;
			transition: all 0.5s linear;
            -webkit-transition: all 0.5s linear;
/*
            transform: scale(1) translateY(0);
			-webkit-transform: scale(1) translateY(0);*/
		}

		/*--------------------page1--------------------*/
		.page1 .page1Txt {
			float: left;
			margin-top: 30px;
			width: 100%;
		}
		.page1 h1 {
			margin-top: 20px;
			font-size: 26px;
			text-align: center;
		}
		.page1 .firstTxt {
			float: left;
			position: relative;
			margin-top: 35px;
			width: 100%;
			height: 56px;
		}
		.page1 .firstTxt img {
			position: absolute;
			left: 50%;
			margin-left: -100px;
			width: 200px;
		}
		.page1 .headImg {
			float: left;
			width: 100%;
		}
		.headImg img,.firstTxt img {
			width: 100%;
		}




		/*--------------------page2--------------------*/
		.page2 {
			background: url(http://ogdjvjy76.bkt.clouddn.com/page2-bg.png) no-repeat ;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
			color:#dadada;
			font-size: 1.6rem;


		}
		.page2 p {
			margin: 8px;
		}
		.page2-top {
			position: absolute;
			left: 10px;
			top: 10px;
		}
		.page2-bottom {
			position: absolute;
			right: 10px;
			bottom: 10px;
			text-align: right;
		}
		.page2 .circleHeadImage {
			width: 180px;
			height: 180px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -90px;
			margin-top: -90px;
		}
		.page2 .circleHeadImage img{
			width: 100%;
		}



		/*--------------------page3--------------------*/
		.page3 {
			font-size: 18px;
			font-weight: 100;
			color: #343434;
			word-wrap: 2px;
		}
		.page3 .jieshao {
			position: absolute;
			left: 7%;
			bottom: 9%;
			width: 86%;
			text-indent: 40px;
			background-color: #fff;
			border-radius: 10px;
			border: 1px solid #c6e6f9;
			line-height: 25px;
			color: #5294bd;
		}
		.page3 .jieshao p {
			margin: 7px;
		}
		.page3 .circleBox {
			position: absolute;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			text-align: center;
			line-height: 80px;
			background-color: #f00;
		}

		.page3 .hobby {
			position: absolute;
			left: 50%;
			top: 30%;
			margin-top: -60px;
			margin-left: -60px;
			width: 120px;
			height: 120px;
			line-height: 120px;
			background-color: #fbf207;

		}
		.page3 .circle1{
			background-color: #59fb68;
			right: 18%;
			top: 5%;
		}
		.page3 .circle2{
			background-color: #81fcd5;
			right: 1%;
			top: 22%;
		}
		.page3 .circle3{
			background-color: #9b91e6;
			right: 18%;
			top: 42%;
		}
		.page3 .circle4{
			background-color: #ffc35b;
			left: 18%;
			top: 42%;
		}
		.page3 .circle5{
			background-color: #ff81cb;
			left: 1%;
			top: 22%;
		}
		.page3 .circle6{
			background-color: #f8ff8d;
			left: 18%;
			top: 5%;
		}






		/*--------------------page4--------------------*/
		.page4 {
			font-size: 16px;
		}
		.page4 .smallPeople {
			position: absolute;
			left:50%;
			top:50%;
			margin-left: -40px;
			margin-top: -90px;
			width: 80px;
		}
		.page4 .smallPeople img{
			width: 100%;
		}

		.page4 .page4-jineng {
			position: absolute;
			top: 8%;
			width: 100%;
			text-align: center;
			font-size: 26px;
		}

		.page4 .page4-txt {
			position: absolute;
			width: 27%;
			border-radius: 15px;
			background-color: #d7e9fe;
			text-align: center;
			border: 2px solid #267fed;
			color:#3c4045;
		}
		.page4 .page4-txt1{
			right: 18%;
			top: 25%;
		}
		.page4 .page4-txt2{
			right: 1%;
			top: 42%;
		}
		.page4 .page4-txt3{
			right: 18%;
			top: 62%;
		}
		.page4 .page4-txt4{
			left: 18%;
			top: 62%;
		}
		.page4 .page4-txt5{
			left: 1%;
			top: 42%;
		}
		.page4 .page4-txt6{
			left: 18%;
			top: 25%;
		}




		.page4 .page4-bottomTxt {
			position: absolute;
			bottom: 8%;
			left:50%;
			width: 240px;
			margin-left: -120px;
			text-align: center;
			line-height: 30px;
		}
		.page4 .page4-bottomTxt p {
			margin: 0;
		}
		.page4 .bootomTxt span {
			font-size: 18px;
		}
		.page4 .bootomTxt .bigSpan {
			font-size: 24px;
		}




		/*--------------------page5--------------------*/
		.page5 {
			overflow: hidden;
		}

		.page5 .page5-jineng {
			position: absolute;
			top: 8%;
			width: 100%;
			text-align: center;
			font-size: 26px;
		}


		.page5 .page5-ul {
			list-style-type: none;
			position: absolute;
			bottom: 15%;
			width: 100%;
			padding: 0;
			margin: 0;
			font-size: 16px;
		}
		.page5 .page5-ul li{

		padding-top: 17%;
		}
		.page5 .page5-ul p {
			float: left;
			margin: 0;
			margin-left: 4%;
			display: block;
			width: 80px;

		}
		.page5 .page5-ul .rightLine {
			position: relative;
			float: right;
			margin-right: 4%;
			width: 60%;
			background-color: #fcf7f7;
			height: 21px;
		}
		.page5 .page5-ul .rightLine span {
			display: block;
			position: absolute;
			left: 2%;
			top: 0;
			z-index: 11;
		}
		.page5 .page5-ul .rightLine .shortLine {
			height: 21px;
			position: absolute;
			left: 0;
			top: 0;
		}
		.page5 .page5-ul .rightLine .shortLine1 {
			width: 85%;
			background-color: #f74a4a;
		}
		.page5 .page5-ul .rightLine .shortLine2 {
			width: 75%;
			background-color: #fafa07;
		}
		.page5 .page5-ul .rightLine .shortLine3 {
			width: 80%;
			background-color: #2de099;
		}
		.page5 .page5-ul .rightLine .shortLine4 {
			width: 85%;
			background-color: #11cbfa;
		}
		.page5 .page5-ul .rightLine .shortLine5 {
			width: 80%;
			background-color: #7e99e0;
		}
		.page5 .page5-ul .rightLine .shortLine6 {
			width: 70%;
			background-color: #980af0;
		}



		/*--------------------page6--------------------*/
		.page6 p {
			margin: 0;
		}
		.page6 .page6-left {
			position: absolute;
			left: 8%;
			top: 15%;
			width: 50px;
			height: 200px;
			border-right: 1px solid #fff;
			font-size: 36px;
		}
		.page6 .page6-right {
			position: absolute;
			right: 5%;
			top: 17%;
			font-size: 14px;

		}
		.page6 .page6-bottom {
			position: absolute;
			left: 15%;
			bottom: 17%;
			font-size: 24px;
			font-weight: bolder;
		}
		/*--------------------page7--------------------*/
		.page7 {

		}
		.page7 h1 {
			margin-left: 5%;
			margin-top: 8%;
			font-size: 26px;
		}
		.page7 .page7-line {
			position: absolute;
			top: 15%;
			left: 5%;
			width: 90%;
			height: 1px;
			background-color: #fff;
		}
		.page7 .page7-go {
			position: absolute;
			top: 17%;
			left: 5%;
		}
		.page7 .page7-go .page7-go-pic {
			float: left;
			width: 40%;
		}
		.page7 .page7-go .page7-go-pic img {
			width: 100%;
		}
		.page7 .page7-go .page7-txt {
			position: absolute;
			right: 12%;
			margin-top: 5%;
			font-size: 24px;
		}


		.page7-bottom {
			position: absolute;
			top: 35%;
			left: 5%;
			width: 90%;
			height: 50%;
		}
		.page7-bottom .page7-small {
			width: 100%;
			height: 27%;
			margin-bottom: 5%;
		}
		.page7-bottom .page7-small .page7-small-pic {
			float: left;
			width: 76px;
			height: 75px;
			border-radius: 50%;
			border: 2px solid #fff;
		}
		.page7-bottom .page7-small .page7-small-txt {
			float: right;
			background-color: #fff;
			width: 68%;
			height: 79px;
			color: #5294bd;
			font-size: 18px;
		}
		.page7-bottom .page7-small .page7-small-txt h4 {
			margin: 8px 0;
			width: 95%;
			margin-left: 5%;
		}
		.page7-bottom .page7-small .page7-small-txt p {
			margin: 0;
			width: 95%;
			margin-left: 5%;
			font-size: 14px;
		}
		/*--------------------page8--------------------*/


		/*page滚动特效*/
		.pageDown {
			transform:   translateY(100%);
			-webkit-transform:   translateY(100%);
		}
		.pageUp {
			transform:   translateY(-100%);
			-webkit-transform:   translateY(-100%);
		}


		a.arrow {
			display: block;
			width: 16%;
			position: fixed;
			bottom: 0;
			left: 42%;
			z-index: 999;
			animation: arrowChange 1.3s linear infinite;
			-webkit-animation: arrowChange 1.3s linear infinite;
		}

		a.hide {
			display: none;
		}

		.musicAni {
			animation: musicRotate 1.3s linear infinite;
			-webkit-animation: musicRotate 1.3s linear infinite;
		}










/*-----------------------------------媒介查询-----------------------------------*/


		@media only screen and (max-width: 360px) {

			.page2 {
				font-size: 1.2rem;
			}
			.page3 .jieshao {
				font-size: 1.2rem;
			}
			.page4 .page4-bottomTxt {
				font-size: 1.2rem;
			}
			.page4 .page4-bottomTxt span{
				font-size: 1.4rem;
			}
			.page4 .page4-bottomTxt {
				bottom: 2%;
			}
			.page5 .page5-jineng {
				top: 1%;
			}
			.page5 .page5-ul {
				font-size: 1.5rem;
			}
			.page6 .page6-left {
				font-size: 3rem;
			}
			.page6 .page6-bottom {
				font-size: 1.9rem;
			}
			.page7-bottom .page7-small {
				margin-bottom: 8%;
			}
		}
