	

	/*动画延时*/
	.delay-3 {
		animation-delay: 0.3s;
		-webkit- animation-delay: 0.3s;
	}
	.delay-5 {
		animation-delay: 0.5s;
		-webkit- animation-delay: 0.5s;
	}
	.delay-6 {
		animation-delay: 0.6s;
		-webkit- animation-delay: 0.6s;
	}
	.delay-7 {
		animation-delay: 0.7s;
		-webkit- animation-delay: 0.7s;
	}
	.delay-8 {
		animation-delay: 0.8s;
		-webkit- animation-delay: 0.8s;
	}
	.delay-9 {
		animation-delay: 0.9s;
		-webkit- animation-delay: 0.9s;
	}
	.delay-10 {
		animation-delay: 1s;
		-webkit- animation-delay: 1s;
	}
	.delay-14 {
		animation-delay: 1.4s;
		-webkit- animation-delay: 1.4s;
	}






	/*  音乐按钮旋转  */
	@keyframes musicRotate{
		0%{
			transform: rotate(0deg);
		}
		100%{
			transform: rotate(360deg);
		}
	}
	@-webkit-keyframes musicRotate{
		0%{
			-webkit-transform: rotate(0deg);
		}
		100%{
			-webkit-transform: rotate(360deg);
		}
	}




	/*  arrow 淡入淡出   向上向下*/
	@keyframes arrowChange{
		0% { bottom: 0;opacity: 0;}
		40% { bottom: 10px;opacity: 1;}
		50% { bottom: 13px;}
		60% { bottom: 10px;opacity: 1;}
		100% { bottom: 0px;opacity: 0;}
	}
	@-webkit-keyframes arrowChange{
		0% { bottom: 0;opacity: 0;}
		40% { bottom: 10px;opacity: 1;}
		50% { bottom: 13px;}
		60% { bottom: 10px;opacity: 1;}
		100% { bottom: 0px;opacity: 0;}
	}



